storage:
    dbPath: "/Users/dave/Documents/repos/suitsII/mongoData/db"
    directoryPerDB: true
    journal:
        enabled: true
systemLog:
    destination: file
    path: "/Users/dave/Documents/repos/suitsII/mongoData/mongodb.log"
    logAppend: true
    timeStampFormat: iso8601-utc
processManagement:
    fork: true
net:
    bindIp: 127.0.0.1
    port: 27017
    wireObjectCheck : false
    unixDomainSocket:
        enabled : true
